body {
  margin: 0;
  background-color: rgb(235, 235, 235);
  font-family: 'Lucida Sans Unicode';
}

header {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;
}

.logo {
 display: flex;
 gap: 12px;
 align-items: center;
}

.emblem {
  width: 68px;
  height: 64px;
}

.name {
  margin: 0;
  color: #214581;
}

.navigation {
  display: flex;
  gap: 24px;
  list-style-type: none;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.navigation a:hover {
 color: #4373c5;
}

.active {
  border-bottom: 2px solid #4373c5;
}

.active a {
  color: #4373c5;
}

, 0, 0.12);
}

.turnament {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 256px;
  font-size: larger;
  gap: 6px;
}

span {section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 46px;
}

.cup{
  padding: 16px;
  background-color: #FFF;
  width: 456px;
  height: max-content;
  gap: 12px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.cup:hover{
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
h3{
  margin: 0;
}

.silver{
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(112,112,112,1) 0%, rgba(233,236,237,1) 100%);
  color: #FFF;
  align-items: center;
  font-size: xxx-large;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  border: 6px solid #FFF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.gold {
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(244,188,0,1) 52%, rgba(254,255,0,1) 100%); 
  color: #FFF;
  align-items: center;
  font-size: xxx-large;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  border: 6px solid #FFF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);

}

.bronze {
  display: flex;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(126,97,0,1) 62%, rgba(198,162,0,1) 100%);
  color: #FFF;
  align-items: center;
  font-size: xxx-large;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  border: 6px solid #FFF;
  box-shadow: 0 0 12px rgba(0, 0
  color: rgb(80, 80, 80);
  font-weight: bold;
}

footer{
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;

}

.vk{
  width: 56px;
  height:56px;
}

.trademark{
  height: 64px;
}

.federation{
  height: 64px;
main {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
}

.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.matches .card {
  padding: 32px 28px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
  border-radius: 14px;
  height: 164px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

span{
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  color: #1d3968;
}

.matches .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 44px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about .card {
  background-color: #1d3968;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: 312px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 32px;
  text-align: justify;
}

p .about .card {
  padding: 4px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: 96px;
  font-size: 22px;
  padding: 10px;
}

h2 {
  margin: 0;
}

.gallery {
 margin-top: 20px;
 background-color: #000;
 border: 2px solid#000;
}

.emblem {
  width: 72px;
  height: 72px;
}

h3 {
  margin: 0;
  color: #214581;
}

.teams {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 28px;
  align-items: center;
}

.teamName {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h4 {
  font-size: medium;
  margin: 0;
  color: #000;
}

h5 {
  margin: 0;
}

.score {
  color: #000;
  font-size: 28px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.photos {
  margin-top: 28px;
}